<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>API - weBall</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><b>Welcome to API Documentation - weBall </b></h1>
      <hr><br><b>http://localhost:8080/ <!-- ( SSL 3.0 Certificate) --></b>

      <p color="dark">
      Every route returns <font color="green">200</font> in case of success, <font color="DarkGoldenRod">40X</font> in case of client error and <font color="red">500</font> in case of server error.</br>
      Every <font color="red">red</font> parameter is mandatory. The parameters mustn't be formated in JSON and must be in the query's body.</br>
      The server returns only JSON responses.</br>
      </p>


<br><br><hr>

<a><b>Launch the server and mongoDB</b></a>
<br><br><b>./mongod </b>
<br><br><b>./nodemon [port] or ./node [port]</b> <br>
<pre> Port per default: 8080
</pre>


<br><br><hr>

<a><b>Register as a simple user</b></a>
<br><br><b>/users POST</b> <br>
<pre> Parameters
<font color="red">
"username":"yourusername",
"password":"password42"
"email":"yourmail@example.com",
"firstname":"zlatan",
"lastname":"ibrahimovic",
"birthday":"1942-08-30T23:42:00.756Z"
</font></pre>
<pre><br> Response
<font color="green">
{
  "username":"yourusername",
  "password":"password42"
  "email":"yourmail@example.com",
  "firstname":"zlatan",
  "lastname":"ibrahimovic",
  "birthday":"1942-08-30T23:42:00.756Z"
  "_id": "55ead53641548544e3fa2c20",
  "registerDate": "2015-09-05T11:42:46.780Z",
  "points": 0,
  "favFields": [
    null
  ],
  "friends": [
    null
  ],
  "role": []
}</font> </pre>


<br><br><hr>
<a><b>Connect and get a token</b></a>
<br><br><b>/login POST</b> <br>
<pre> Parameters
<font color="red">
"login":"login_x",
"password":"password42"
</font> </pre>
<pre><br> Response
<font color="green">
{"token":"42"} </font> </pre>


<br><br><hr>
<a><b>Get informations about (current) user</b></a>
<br><br><b>GET /me or /:_id  </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font></pre>
<pre><br>Response
<font color="green">
{
  "username": "elias",
  "email": "elias@weball.fr",
  "firstname": "elias",
  "birthday":"1942-08-30T23:42:00.756Z",
  "lastname": "elias",
  "register_date": "2015-04-06T17:14:41.808Z",
  "points": 0,
  "hasTeam": false,
  "terrainsFavs": [],
  "friends": []
} </font> </pre>


<br><br><hr>
<a><b>Modify partial information about (current) user</b></a>
<br><br><b>PATCH /me or /:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42",</font><font>
"username":"newName",
"email":"new@weball.fr"
</font></pre><br>
<pre> Response
<font color="green">
{
  "username": "newName",
  "email": "new@weball.fr"
}</font> </pre>


<br><br><hr>
<a><b>Get user infos from username</b></a>
<br><br><b>/users/jazalizil GET</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "username": "jazalizil",
  "email": "jazalizil@weball.fr",
  "firstname": "jalil",
  "birthday":"1942-08-30T23:42:00.756Z",
  "lastname": "dab",
  "register_date": "2015-05-31T14:32:30.931Z",
  "has_team": false,
  "fav_fields": [],
  "points": 0,
  "friends": []
} </font> </pre>


<br><br><hr>
<a><b>Create a Five company</b></a>
<br><br><b>POST /five </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "__v": 0,
  "siren": 12345678,
  "name": "My First Five",
  "zipCode": 93600,
  "country": "France",
  "address": "140 rue des fou",
  "phone": "+33661713886",
  "_id": "55e9ac78420b845f2916ae2b",
  "gps": {
    "longitude": "3.1323434",
    "latitude": "2.12233443434"
  },
  admins: [],
  fields: []
}
</font> </pre>

<br><br><hr>
<a><b>Get list of five or a five by id </b></a>
<br><br><b>GET /five or /five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "__v": 0,
  "siren": 12345678,
  "name": "My First Five",
  "zipCode": 93600,
  "country": "France",
  "address": "140 rue des fou",
  "phone": "+33661713886",
  "_id": "55e9ac78420b845f2916ae2b",
  "gps": {
    "longitude": "3.1323434",
    "latitude": "2.12233443434"
  },
  admins: [],
  fields: []
},
{
  ...
} </font> </pre>


<br><br><hr>
<a><b>Modify partial information of a five by id. </b></a>
<br><br><b>PATCH /five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42",</font>
"siren": 2</pre>
<pre><br> Response
<font color="green">
{
  "_id": "55e1828816788cb60022ceaf",
  "siren": 2,
  "name": "myFirstFive",
  "__v": 0,
  "user": [
    "UserAdminFiveObjectID"
  ],
  "registerDate": "2015-08-30T18:06:00.756Z",
  "gps": {
    "longitude": "3.2398723987",
    "latitude": "2.23082397237"
  },
  "fields": [
    "FieldObjectID"
  ]
} </font></pre>


<br><br><hr>
<a><b>Create a field for a Five </b></a>
<br><br><b>POST /fields </b> <br>
<pre> Parameters
<font color="red">
"token":"42",
"fiveId:"55e1828816788cb60022ceaf",
"available": true,
"name": "My First Field",
"picture": "http://mypicture.com/mypic.png"
"pricesPerHalf": {
  0: { // 0: The first day of week is Sunday
      9: 10, 
      12: -1, // -1: Is not available/closed
      14: 15, 
      23: -1
    }, 
    ...
  6: { // Saturday
      9: 5, // Begining
      23: -1, // End
    }
  }
  "pricesPerHour": {}
</font> </pre>
<pre><br> Response
<font color="green">
 {
    "_id": "55e9b4198893e4a933a1a4a9",
    "available": true,
    "name": "My First Field",
    "five": "55e1828816788cb60022ceaf",
    "__v": 0,
    "pricesPerHalf": {
      0: { 
          9: 10, 
          12: -1,
          14: 15, 
           23: -1
         },
      ...   
      6: {
           9: 5,
           23: -1,
         }
  }
  "pricesPerHour": {}
 }
 </font> </pre>

<br><br><hr>
<a><b>Get a field Id </b></a>
<br><br><b>GET /fields/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
 {
    "_id": "55e4bd368bb0246e00b18c5b",
    "available": true,
    "name": "MyField5",
    "five": "55e1828816788cb60022ceaf",
    "__v": 0,
 }
 </font> </pre>

<br><br><hr>
<a><b>Get list of fields by Five Id </b></a>
<br><br><b>GET /fields/five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
[
 {
    "_id": "55e4bd368bb0246e00b18c5b",
    "available": true,
    "name": "MyField5",
    "five": "55e1828816788cb60022ceaf",
  },
  {
    ...
  }
]
 </font> </pre>

<br><br><hr>
<a><b>Create a Match by Field id </b></a>
<br><br><b>POST /matchs</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"name": "My First Match"
"status": "waiting"
"start_date": "2015-08-30T18:00:00.756Z"
"end_date": "2015-08-30T19:00:00.756Z"
"fieldId": "55e9b4198893e4a933a1a4a9"
"teamName": "myTeam"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "__v": 0,
  "name": "My First Match",
  "start_date": "2015-08-30T18:00:00.756Z",
  "end_date": "2015-08-30T19:00:00.756Z",
  "fieldId": "55e9b4198893e4a933a1a4a9",
  "_id": "55e9b7b904e7c357407e4f83",
  "status": "waiting"
} </font> </pre>

<br><br><hr>
<a><b>Get match by id</b></a>
<br><br><b>GET /matchs/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "55eed6dd08538bd2ae153095",
  "name": "My First Match",
  "start_date": "2015-08-30T16:30:00.756Z",
  "end_date": "2015-08-30T17:00:00.756Z",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "amount": "10",
  "status": "waiting",
  "__v": 0,
  "teamsId": []
}
</font> </pre>

<br><br><hr>
<a><b>Join a match by id</b></a>
<br><br><b>PATCH /matchs/join/:_id </b> <br> <br>
Details: Rejoins une équipe seulement si une place est dispo.
<pre> Parameters
<font color="red">
"token":"42"
"teamId":"84"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "55eed6dd08538bd2ae153095",
  "name": "My First Match",
  "start_date": "2015-08-30T16:30:00.756Z",
  "end_date": "2015-08-30T17:00:00.756Z",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "amount": "10",
  "status": "waiting",
  "__v": 0,
  "teamsId": []
}
</font> </pre>


<br><br><hr>
<a><b>Leave a match by id</b></a>
<br><br><b>PATCH /matchs/leave/:_id </b> <br> <br>
Details: Quitte un match seulement si start_date >= 48h.
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "55eed6dd08538bd2ae153095",
  "name": "My First Match",
  "start_date": "2015-08-30T16:30:00.756Z",
  "end_date": "2015-08-30T17:00:00.756Z",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "amount": "10",
  "status": "waiting",
  "__v": 0,
  "teamsId": []
}
</font> </pre>

<br><br><hr>
<a><b>Update a Match. Only creator can update</b></a>
<br><br><b>PATCH /matchs/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "ok": 1,
  "nModified": 1,
  "n": 1
}
</font> </pre>

<br><br><hr>
<a><b>Get list of matchs(waiting, ready, over) per field </b></a>
<br><br><b>GET /matchs/fields/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
    
} </font> </pre>


<br><br><hr>
<a><b>Send a message to a user with her id </b></a>
<br><br><b>PATCH /discussions/user/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"content":"message test"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "5612d31f6321610f091f5b3c",
  "__v": 6,
  "messages": [
    {
      "content": "message test",
      "createdAt": "2015-10-05T19:44:31.870Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d31f6321610f091f5b3d"
    },
  "usersId": [
    "55ee0177ea9a57845ff01cbe",
    "55ee0177ea9a57845ff01cbf"
  ]
}    
</font> </pre>


<br><br><hr>
<a><b>Get all discussions of me</b></a>
<br><br><b>GET /discussions/me </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
[
  {
    "_id": "5612ce606321610f091f5b35",
    "__v": 1,
    "messages": [
      {
        "content": "ceci",
        "createdAt": "2015-10-05T19:24:18.669Z",
        "createdBy": "55ee0177ea9a57845ff01cbe",
        "_id": "5612ce626321610f091f5b37"
      }
    ],
    "user": {
      "username": "user_x",
      "photo": ""
    },
    "usersId": [
      "55ee0177ea9a57845ff01cbd"
    ]
  },
  {
    "_id": "5612ce676321610f091f5b38",
    "__v": 3,
    "messages": [
      {
        "content": "C",
        "createdAt": "2015-10-05T19:44:47.558Z",
        "createdBy": "55ee0177ea9a57845ff01cbe",
        "_id": "5612d32f6321610f091f5b3f"
      }
    ],
    "user": {
      "username": "Utilisateur Introuvable",
      "photo": ""
    },
    "usersId": [
      "55ee0177ea9a57845ff01c0b"
    ]
  }
]  
</font> </pre>


<br><br><hr>
<a><b>Get all messages of a discussion </b></a>
<br><br><b>GET /discussions/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "5612d31f6321610f091f5b3c",
  "__v": 6,
  "messages": [
    {
      "content": "first message",
      "createdAt": "2015-10-05T19:44:31.870Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d31f6321610f091f5b3d"
    },
    {
      "content": "last message",
      "createdAt": "2015-10-05T19:44:33.079Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d3216321610f091f5b3e"
    }
  ],
  "usersId": [
    "55ee0177ea9a57845ff01cbe",
    "55ee0177ea9a57845ff01cbf"
  ]
}
</font> </pre>


<br><br><hr>
<a><b>Find a team by id</b></a>
<br><br><b>/teams/find GET</b> <br>
<pre> Parameters
<font color="red">
"token":"42",
"id":"42"
</font> </pre>
<pre> Response
<font color="green">
{
    TOFILL
}
</font> </pre>


<br><br><hr>
<a><b>Add Credit Card (Commentaire: Stock dans api Paypal et la CardId dans la DB User)</b></a>
<br><br><b>/paypal/credit-card/create POST</b> <br>
<pre> Parameters
<font color="red">
"type": "visa",
"number": "4417119669820331",
"expire_month": "11",
"expire_year": "2018",
"cvv2": "123",
"first_name": "Joe",
"last_name": "Shopper"
</font> </pre>
<pre><br> Response
<font color="green">
{status: '200', message: 'Created'}
</font> </pre>


<br><br><hr>
<a><b>Get Credit Card </b></a>
<br><br><b>/paypal/credit-card/get POST</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{ 
  state: 'ok',
  type: 'visa',
  number: 'xxxxxxxxxxxx0331',
  expire_month: '11',
  expire_year: '2018',
  first_name: 'Joe',
  last_name: 'Shopper',
  valid_until: '2018-04-10T00:00:00Z',
  create_time: '2015-04-11T13:07:17Z',
  update_time: '2015-04-11T13:07:17Z'
}
</font> </pre>


<br><br><hr>
<a><b>Delete Credit Card </b></a>
<br><br><b>/paypal/credit-card/delete DELETE</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{status: '200', message: 'Deleted'}
</font> </pre>


<br><br><hr>
<a><b>Create a Payment with CC Saved </b></a>
<br><br><b>/paypal/payment/create-cc-saved POST</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
    "id": "PAY-7LV19186FE7690736KUVMTXQ",
    "create_time": "2015-04-12T19:39:10Z",
    "update_time": "2015-04-12T19:39:36Z",
    "state": "approved",
    "intent": "sale",
    "payer": {
        "payment_method": "credit_card",
        "funding_instruments": [
            {
                "credit_card_token": {
                    "credit_card_id": "CARD-71379790Y3841240WKUVK4BY",
                    "last4": "0331",
                    "type": "visa",
                    "expire_month": "11",
                    "expire_year": "2018"
                }
            }
        ]
    },
    "transactions": [
        {
            "amount": {
                "total": "1.00",
                "currency": "EUR",
                "details": {
                    "subtotal": "1.00"
                }
            },
            "description": "Paiement à weBall SAS.",
            "related_resources": [
                {
                    "sale": {
                        "id": "1Y15049942881315U",
                        "create_time": "2015-04-12T19:39:10Z",
                        "update_time": "2015-04-12T19:39:36Z",
                        "amount": {
                            "total": "1.00",
                            "currency": "EUR"
                        },
                        "state": "pending",
                        "parent_payment": "PAY-7LV19186FE7690736KUVMTXQ",
                        "links": [
                            {
                                "href": "https://api.sandbox.paypal.com/v1/payments/sale/1Y15049942881315U",
                                "rel": "self",
                                "method": "GET"
                            },
                            {
                                "href": "https://api.sandbox.paypal.com/v1/payments/sale/1Y15049942881315U/refund",
                                "rel": "refund",
                                "method": "POST"
                            },
                            {
                                "href": "https://api.sandbox.paypal.com/v1/payments/payment/PAY-7LV19186FE7690736KUVMTXQ",
                                "rel": "parent_payment",
                                "method": "GET"
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "links": [
        {
            "href": "https://api.sandbox.paypal.com/v1/payments/payment/PAY-7LV19186FE7690736KUVMTXQ",
            "rel": "self",
            "method": "GET"
        }
    ],
    "httpStatusCode": 201
}
</font> </pre>

  </body>
</html>
