<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>API - weBall</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><b>Welcome to API Documentation - weBall </b></h1>
      <hr><br><b>http://localhost:8080/ <!-- ( SSL 3.0 Certificate) --></b>

      <p color="dark">
      Every route returns <font color="green">200</font> in case of success, <font color="DarkGoldenRod">40X</font> in case of client error and <font color="red">500</font> in case of server error.</br>
      Every <font color="red">red</font> parameter is mandatory. The parameters mustn't be formated in JSON and must be in the query's body.</br>
      The server returns only JSON responses.</br>
      </p>


<br><br><hr>

<a><b>Launch the server and mongoDB</b></a>
<br><br><b>./mongod </b>
<br><br><b>./nodemon [port] or ./node [port]</b> <br>
<pre> Port per default: 8080
</pre>


<br><br><hr>

<a><b>Register as user</b></a>
<br><br><b>/users POST</b> <br>
<pre> Parameters
<font color="red">
"username":"yourusername", 
"password":"password42"
"email":"yourmail@example.com",
"firstName":"zlatan",
"lastName":"ibrahimovic",
"birthday":"1942-08-30T23:42:00.756Z" or "1942,01,30"
</font></pre>
<pre><br> Response
<font color="green">
{
  "username":"yourusername",
  "password":"password42"
  "email":"yourmail@example.com",
  "firstName":"zlatan",
  "lastName":"ibrahimovic",
  "birthday":"1942-08-30T23:42:00.756Z"
  "_id": "55ead53641548544e3fa2c20",
  "date": "2015-09-05T11:42:46.780Z",
  "points": 0,
  "favFields": [
    null
  ],
  "friends": [
    null
  ],
  "roles": []
}</font> </pre>


<br><br><hr>
<a><b>Connect and get a token</b></a>
<br><br><b>/login POST</b> <br>
<pre> Parameters
<font color="red">
"login":"login_x",
"password":"password42"
</font> </pre>
<pre><br> Response
<font color="green">
{"token":"42"} </font> </pre>


<br><br><hr>
<a><b>Get informations about (current) user</b></a>
<br><br><b>GET /me or /:_id  </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font></pre>
<pre><br>Response
<font color="green">
{
  "username": "elias",
  "email": "elias@weball.fr",
  "firstname": "elias",
  "birthday":"1942-08-30T23:42:00.756Z",
  "lastname": "elias",
  "register_date": "2015-04-06T17:14:41.808Z",
  "points": 0,
  "hasTeam": false,
  "terrainsFavs": [],
  "friends": []
} </font> </pre>


<br><br><hr>
<a><b>Modify partial information about (current) user</b></a>
<br><br><b>PATCH /me</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font><font>
"username":"newName"
"email":"new@weball.fr"
</font></pre><br>
<pre> Response
<font color="green">
{
  "username": "newName",
  "email": "new@weball.fr"
}</font> </pre>


<br><br><hr>
<a><b>Get user infos from username</b></a>
<br><br><b>/users/jazalizil GET</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "username": "jazalizil",
  "email": "jazalizil@weball.fr",
  "firstname": "jalil",
  "birthday":"1942-08-30T23:42:00.756Z",
  "lastname": "dab",
  "register_date": "2015-05-31T14:32:30.931Z",
  "has_team": false,
  "fav_fields": [],
  "points": 0,
  "friends": []
} </font> </pre>


<br><br><hr>
<a><b>Create a Five company</b></a>
<br><br><b>POST /five </b> <br>
<pre> Parameters
<font color="red">
"token":"42" // roles: "adminfive"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "__v": 0,
  "siren": 12345678,
  "name": "My First Five",
  "zipCode": 93600,
  "country": "France",
  "address": "140 rue des fou",
  "phone": "+33661713886",
  "_id": "55e9ac78420b845f2916ae2b",
  "gps": {
    "longitude": "3.1323434",
    "latitude": "2.12233443434"
  },
  admins: [],
  fields: []
}
</font> </pre>

<br><br><hr>
<a><b>Get a Five company</b></a>
<br><br><b>GET /five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "562899781241436c9fb59a6e",
  "siren": 123456789,
  "name": "My First Five",
  "zipCode": 75000,
  "city": "Paris",
  "country": "France",
  "address": "1 RUE DES OK",
  "phone": "+33122334455",
  "date": "2015-10-22T08:08:24.223Z",
  "__v": 2,
  "admins": [
    "562897e7257149489f5ffa6a"
  ],
  "fields": [
    {
      "_id": "55e9ac3d5dcf1c93217b0045",
      "siren": 12345678,
      "name": "My First Five",
      "zipCode": 93600,
      "country": "France",
      "phone": "+33661713886",
      "__v": 0,
      "admins": [],
      "gps": {
        "longitude": "3.1323434",
        "latitude": "2.12233443434"
      },
      "fields": []
    }
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Get list of five or a five by id </b></a>
<br><br><b>GET /five or /five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "__v": 0,
  "siren": 12345678,
  "name": "My First Five",
  "zipCode": 93600,
  "country": "France",
  "address": "140 rue des fou",
  "phone": "+33661713886",
  "_id": "55e9ac78420b845f2916ae2b",
  "gps": {
    "longitude": "3.1323434",
    "latitude": "2.12233443434"
  },
  admins: [],
  fields: []
},
{
  ...
} </font> </pre>


<br><br><hr>
<a><b>Modify partial information of a five by id. </b></a>
<br><br><b>PATCH /five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42" // roles: "adminfive" </font> 
"siren": 2</pre>
<pre><br> Response
<font color="green">
{
  "_id": "55e1828816788cb60022ceaf",
  "siren": 2,
  "name": "myFirstFive",
  "__v": 0,
  "user": [
    "UserAdminFiveObjectID"
  ],
  "registerDate": "2015-08-30T18:06:00.756Z",
  "gps": {
    "longitude": "3.2398723987",
    "latitude": "2.23082397237"
  },
  "fields": [
    "FieldObjectID"
  ]
} </font></pre>


<br><br><hr>
<a><b>Create a field for a Five </b></a>
<br><br><b>POST /fields </b> <br>
<pre> Parameters
<font color="red">
"token":"42",
"fiveId:"55e1828816788cb60022ceaf",
"available": true,
"name": "My First Field",
"picture": "http://mypicture.com/mypic.png"
"pricesPerHalf": {
  0: { // 0: The first day of week is Sunday
      9: 10, 
      12: -1, // -1: Is not available/closed
      14: 15, 
      23: -1
    }, 
    ...
  6: { // Saturday
      9: 5, // Begining
      23: -1, // End
    }
  }
  "pricesPerHour": {}
</font> </pre>
<pre><br> Response
<font color="green">
 {
    "_id": "55e9b4198893e4a933a1a4a9",
    "available": true,
    "name": "My First Field",
    "five": "55e1828816788cb60022ceaf",
    "__v": 0,
    "pricesPerHalf": {
      0: { 
          9: 10, 
          12: -1,
          14: 15, 
           23: -1
         },
      ...   
      6: {
           9: 5,
           23: -1,
         }
  }
  "pricesPerHour": {}
 }
 </font> </pre>

<br><br><hr>
<a><b>Get a field Id </b></a>
<br><br><b>GET /fields/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
 {
    "_id": "55e4bd368bb0246e00b18c5b",
    "available": true,
    "name": "MyField5",
    "five": "55e1828816788cb60022ceaf",
    "__v": 0,
 }
 </font> </pre>

<br><br><hr>
<a><b>Get list of fields by Five Id </b></a>
<br><br><b>GET /fields/five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
[
 {
    "_id": "55e4bd368bb0246e00b18c5b",
    "available": true,
    "name": "MyField5",
    "five": "55e1828816788cb60022ceaf",
  },
  {
    ...
  }
]
 </font> </pre>

<br><br><hr>
<a><b>Create a Match by Field id </b></a>
<br><br><b>POST /matchs</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"name": "My First Match"
"status": "waiting"
"start_date": "2015-08-30T18:00:00.756Z"
"end_date": "2015-08-30T19:00:00.756Z"
"fieldId": "55e9b4198893e4a933a1a4a9"
"teamName": "myTeam"
"maxPlayers": 10
"five": "55e9b4198893e4a933a1a4a9"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "56237b35102914fd783ddb5b",
  "name": "My First Match",
  "start_date": "2015-08-30T15:00:00.756Z",
  "end_date": "2015-08-30T16:00:00.756Z",
  "maxPlayers": 10,
  "status": "waiting",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "five": "55e9abd35dcf1c93217b0044",
  "amount": "15",
  "created_at": "2015-10-18T10:57:57.535Z",
  "created_by": "55ee0177ea9a57845ff01cbe",
  "currentPlayers": 1,
  "__v": 0,
  "chatId": "56237b35102914fd783ddb5c",
  "teamsId": [
    "56237b35102914fd783ddb59",
    "56237b35102914fd783ddb5a"
  ]
} </font> </pre>

<br><br><hr>
<a><b>Get match by id</b></a>
<br><br><b>GET /matchs/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "56237b35102914fd783ddb5b",
  "name": "My First Match",
  "start_date": "2015-08-30T15:00:00.756Z",
  "end_date": "2015-08-30T16:00:00.756Z",
  "maxPlayers": 10,
  "status": "waiting",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "five": "55e9abd35dcf1c93217b0044",
  "amount": "15",
  "created_at": "2015-10-18T10:57:57.535Z",
  "created_by": "55ee0177ea9a57845ff01cbe",
  "currentPlayers": 1,
  "__v": 0,
  "chatId": "56237b35102914fd783ddb5c",
  "teamsId": [
    "56237b35102914fd783ddb59",
    "56237b35102914fd783ddb5a"
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Join a match by id</b></a>
<br><br><b>PATCH /matchs/join/:_id </b> <br> <br>
Note: - Rejoins une équipe seulement si une place est dispo.
- Rejoins un match seulement si un match avec la meme horaire n'existe pas déja.
<pre> Parameters
<font color="red">
"token":"42"
"teamId":"84"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "55eed6dd08538bd2ae153095",
  "name": "My First Match",
  "start_date": "2015-08-30T16:30:00.756Z",
  "end_date": "2015-08-30T17:00:00.756Z",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "amount": "10",
  "status": "waiting",
  "__v": 0,
  "chatId": "561b7c691d558a602c059b3f",
  "teamsId": [
    "561b7c691d558a602c059b3c",
    "561b7c691d558a602c059b3d"
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Update a Match. </b></a> 
<br><br><b>PATCH /matchs/:_id </b> <br> <br>
Note: Only creator can update 
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "ok": 1,
  "nModified": 1,
  "n": 1
}
</font> </pre>

<br><br><hr>
<a><b>Leave a match by id</b></a>
<br><br><b>PATCH /matchs/leave/:_id </b> <br> <br>
Note: Quitte un match seulement si start_date >= 48h
Si leader, remplir newLeader sinon leader random.
<pre> Parameters
<font color="red">
"token":"42"
"teamId": "561b7c691d558a602c059b3c"
"newLeader":"55eed6dd08538bd2ae153095"
</font> </pre>
<pre><br> Response
<font color="green">
{
  "_id": "55eed6dd08538bd2ae153095",
  "name": "My First Match",
  "start_date": "2015-08-30T16:30:00.756Z",
  "end_date": "2015-08-30T17:00:00.756Z",
  "fieldId": "55ee0b8ca2dba0466ad5dc13",
  "amount": "10",
  "status": "waiting",
  "__v": 0,
  "chatId": "561b7c691d558a602c059b3f",
  "teamsId": [
    "561b7c691d558a602c059b3c",
    "561b7c691d558a602c059b3d"
  ]
}
</font> </pre>


<br><br><hr>
<a><b>Get my matchs and sort</b></a>
<br><br><b>GET /matchs/me </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"status": "waiting"
</font>
"sort": "-start_date" // descending or 'start_date' for ascending
</pre>
<pre><br> Response
<font color="green">
[
  {
    "_id": "5623df2d4584ad0a7c606244",
    "name": "My First Match",
    "start_date": "2015-10-20T22:00:00.756Z",
    "end_date": "2015-10-20T22:30:00.756Z",
    "maxPlayers": 10,
    "status": "waiting",
    "fieldId": "55ee0b8ca2dba0466ad5dc13",
    "five": "55e9abd35dcf1c93217b0044",
    "amount": "10",
    "created_at": "2015-10-18T18:04:29.504Z",
    "created_by": "55ee0177ea9a57845ff01cbe",
    "currentPlayers": 1,
    "__v": 0,
    "chatId": "5623df2d4584ad0a7c606245",
    "teamsId": [
      "5623df2d4584ad0a7c606242",
      "5623df2d4584ad0a7c606243"
    ]
  },
  ...
]</font> </pre>

<br><br><hr>
<a><b>Get matchs by five and sort</b></a>
<br><br><b>GET /matchs/five/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"status": "waiting"
</font>
"sort": "-start_date" // descending or 'start_date' for ascending
</pre>
<pre><br> Response
<font color="green">
[
  {
    "_id": "5623df2d4584ad0a7c606244",
    "name": "My First Match",
    "start_date": "2015-10-20T22:00:00.756Z",
    "end_date": "2015-10-20T22:30:00.756Z",
    "maxPlayers": 10,
    "status": "waiting",
    "fieldId": "55ee0b8ca2dba0466ad5dc13",
    "five": "55e9abd35dcf1c93217b0044",
    "amount": "10",
    "created_at": "2015-10-18T18:04:29.504Z",
    "created_by": "55ee0177ea9a57845ff01cbe",
    "currentPlayers": 1,
    "__v": 0,
    "chatId": "5623df2d4584ad0a7c606245",
    "teamsId": [
      "5623df2d4584ad0a7c606242",
      "5623df2d4584ad0a7c606243"
    ]
  },
  ...
]</font> </pre>

<br><br><hr>
<a><b>Invit a user in a match</b></a>
<br><br><b>PATCH /invitations/matches/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"usersId": "id1,id2,id3"
</font>
</pre>
<pre><br> Response
<font color="green">
{
  "_id": "56268aa402668cba899ccf70",
  "match": "55eed6dd08538bd2ae153095",
  "date": "2015-10-20T18:40:36.415Z",
  "__v": 5,
  "invited": [
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153092",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbdf",
      "status": false
    },
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153093",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbe0",
      "status": false
    },
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153091",
      "date": "2015-10-21T10:33:54.373Z",
      "_id": "56276a12147a32d58ffa7382",
      "status": false
    }
  ]
}</font> </pre>

<br><br><hr>
<a><b>Cancel a invitation</b></a>
<br><br><b>DELETE /invitations/matches/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"usersId": "id1"
</font>
</pre>
<pre><br> Response
<font color="green">
{
  "_id": "56268aa402668cba899ccf70",
  "match": "55eed6dd08538bd2ae153095",
  "date": "2015-10-20T18:40:36.415Z",
  "__v": 5,
  "invited": [
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153092",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbdf",
      "status": false
    },
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153093",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbe0",
      "status": false
    }
  ]
}</font> </pre>

<br><br><hr>
<a><b>Get my invitations</b></a>
<br><br><b>GET /invitations/matches/ </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"usersId": "id1"
</font>
</pre>
<pre><br> Response
<font color="green">
{
  "_id": "56268aa402668cba899ccf70",
  "match": "55eed6dd08538bd2ae153095",
  "date": "2015-10-20T18:40:36.415Z",
  "__v": 5,
  "invited": [
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153092",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbdf",
      "status": false
    },
    {
      "by": "55ee0177ea9a57845ff01cbe",
      "user": "55eed6dd08538bd2ae153093",
      "date": "2015-10-21T09:45:30.364Z",
      "_id": "56275eba533f41398f74bbe0",
      "status": false
    }
  ]
}</font> </pre>


<br><br><hr>
<a><b>Send a message to a user with her id </b></a>
<br><br><b>PATCH /discussions/user/:_id </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
"content":"message test"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "5612d31f6321610f091f5b3c",
  "__v": 6,
  "messages": [
    {
      "content": "message test",
      "createdAt": "2015-10-05T19:44:31.870Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d31f6321610f091f5b3d"
    },
  "users": [
    "55ee0177ea9a57845ff01cbe",
    "55ee0177ea9a57845ff01cbf"
  ]
}    
</font> </pre>


<br><br><hr>
<a><b>Get all discussions of me</b></a>
<br><br><b>GET /discussions/me </b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font>
"limit": 5
"skip": 5 </pre>
<pre> Response
<font color="green">
[
  {
    "_id": "5612ce676321610f091f5b38",
    "__v": 3,
    "messages": [ // LAST MESSAGE ONLY
      {
        "content": "C",
        "createdAt": "2015-10-05T19:44:47.558Z",
        "createdBy": "55ee0177ea9a57845ff01cbe",
        "_id": "5612d32f6321610f091f5b3f"
      }
    ],
    "users": [
      {
        "_id": "55ee0177ea9a57845ff01cbe",
        "username": "jaja",
        "lastName": "toto",
        "firstName": "eli"
      },
         {
        "_id": "55ee0177ea9a57845ff01cbe",
        "username": "baba",
        "lastName": "james",
        "firstName": "eli",
        "photo": "http://dkfjslfkdj.com/photo.png"
      },

    ]
  },
  ...
]  
</font> </pre>

<br><br><hr>
<a><b>Get all messages of a discussion </b></a>
<br><br><b>GET /discussions/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "5612d31f6321610f091f5b3c",
  "__v": 6,
  "messages": [
    {
      "content": "first message",
      "createdAt": "2015-10-05T19:44:31.870Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d31f6321610f091f5b3d"
    },
    {
      "content": "last message",
      "createdAt": "2015-10-05T19:54:33.079Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5612d3216321610f091f5b3e"
    }
  ],
 "users": [
    {
      "_id": "55ee0177ea9a57845ff01cbe",
      "username": "elias",
      "lastName": "chet",
      "firstName": "eli"
    }
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Join a chat by id</b></a>
<br><br><b>PATCH /chats/join/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "561aaa0b9795239e29f38ca1",
  "matchId": "561aaa0b9795239e29f38c9e",
  "__v": 2,
  "messages": [
    {
      "content": "A",
      "createdAt": "2015-10-11T18:28:24.341Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "561aaa489795239e29f38ca3"
    },
    {
      "content": "B",
      "createdAt": "2015-10-18T20:22:11.812Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "5623ff73cdecf8cf7ccd3c39"
    }
  ],
  "users": [
    "55ee0177ea9a57845ff01cbe"
  ]
}
</font> </pre>


<br><br><hr>
<a><b>Leave a chat </b></a>
<br><br><b>DELETE /chats/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "5623df2d4584ad0a7c606245",
  "matchId": "5623df2d4584ad0a7c606244",
  "__v": 4,
  "messages": [],
  "users": [
    "55ee0177ea9a57845ff01cbe"
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Send a message to chat</b></a>
<br><br><b>PATCH /chats/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "561aaa0b9795239e29f38ca1",
  "__v": 2,
  "messages": [
     {
      "content": "A",
      "createdAt": "2015-10-11T17:29:14.341Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "561aaa489795239e29f38ca3"
    },
    {
      "content": "B",
      "createdAt": "2015-10-11T18:28:24.341Z",
      "createdBy": "55ee0177ea9a57845ff01cbe",
      "_id": "561aaa489795239e29f38ca3"
    }
  ],
  "users": [
    "55ee0177ea9a57845ff01cbe"
  ]
}
</font> </pre>

<br><br><hr>
<a><b>Get messages of a chat </b></a>
<br><br><b>GET /chats/:_id</b> <br>
<pre> Parameters
<font color="red">
"token":"42"
</font> </pre>
<pre> Response
<font color="green">
{
  "_id": "561aaa0b9795239e29f38ca1",
  "messages": [
    {
      "content": "A",
      "createdAt": "2015-10-11T18:28:24.341Z",
      "createdBy": {
        "_id": "55ee0177ea9a57845ff01cbe",
        "username": "elias",
        "lastName": "chet",
        "firstName": "eli"
      },
      "_id": "561aaa489795239e29f38ca3"
    },
    {
      "content": "A",
      "createdAt": "2015-10-18T20:22:11.812Z",
      "createdBy": {
        "_id": "55ee0177ea9a57845ff01cbe",
        "username": "elias",
        "lastName": "chet",
        "firstName": "eli"
      },
      "_id": "5623ff73cdecf8cf7ccd3c39"
    }
  ]
}
</font> </pre>





  </body>
</html>
